---
title: false
styles: true
---
$backgroundColour: #d3d3d3;; // medium grey color

body {
  background-color: $backgroundColour;
}
.logo-container {
  background-color: #a9a9a9; // Dark grey color
  padding: 20px; // Adds some spacing around the logo
  text-align: center; // Centers the logo horizontally
}
@import "alembic";
